# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Figures
*.svg

# Executables
*.exe

# Figures
*.ai
*.eps

# Excel
*.csv

# PDF
*.pdf